body {
   background-color: #eee;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px;
}

h1 img {
   height: 70px;
}

#exchange,
#news,
#dataTable,
#graphs {
   background-color: #fff;
   border: 2px solid #0c0c0c;
   margin-bottom: 10px;
   color: #0c0c0c;
   height: 500px;
}

#exchange {
   margin-right: 10px;
   overflow: hidden;
}

.main {
   margin: auto;
   padding-top: 50px;
   padding-bottom: 50px;
}

.main input {
   margin-top:10px;
   margin-bottom: 10px;
}
label {
   font-size: 1rem;
}
 
.btn {
   background-color: #fff;
   border: 2px solid #0c0c0c;
   border-radius: 15px;
   color: #0c0c0c;
   width: 150px;
}
 
.finalAmount h2 {
   font-size: 2.25rem;
}

#dataTable {
   overflow: scroll;
   padding: 0;
}

#coinTable th,
#coinTable td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  width: 100%;
}

#coinTable th {
  background-color: #0c0c0c;
  color: #fff;
}

#coinTable tr {
  border-bottom: 2px solid #ddd;
}

#coinTable tr:hover {
  background-color: #0c0c0c;
  font-weight:bolder;
  color: #fff;
}

/* Newsfeed css */
#news {
   padding: 0px;
}

#news div {
   height: 50px;
   border-bottom: 2px solid #ddd;
   overflow: hidden;
}

#news div:nth-child(10) {
   border: none;
}

#news img {
   margin: 10px 5px 5px 5px;
   height: 26px;
   width: 26px;
   float: left;
}

#news h6 {
   margin: 14px 0px 0px 40px;
   padding-right: 14px
}

#news h6.centered {
   margin: 5px 0px 0px 40px;
}

#graphs {
   height: auto;
}

#graphs img {
   width: 100%;
}

/* Ticker Style */

   /* (A) FIXED WRAPPER */
.hwrap {
   overflow: hidden; /* HIDE SCROLL BAR */
   background: #eee;
   margin: 5px;

}

   /* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

   /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
   flex-shrink: 10;
   width: 100%;
   box-sizing: border-box;
   padding: 8px;
   text-align: left;
}

   /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
   /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
   0% { transform: translate3d(50%, 0, 0); }
   100% { transform: translate3d(-50%, 0, 0); }
}
.hmove { animation: tickerh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }
